{{< layout/order}}

{{$content}}
<h2>Step 2 - Delicious Side Items</h2>
<form name='order' action="{{&controller_url}}/summary" method="POST">
    <p>
        <label>Item 1</label><br />
        <input name='order[sides][]' style="width:100%" />
    </p>
    <p>
        <label>Item 2</label><br />
        <input name='order[sides][]' style="width:100%"/>
    </p>
    <p>
        <input type="submit" value="Place Order" />
    </p>
</form>
{{/content}}
