<div>
    {{> _branding }}

    <h2>Step 2 - Add Side Items</h2>
    <form name='order' action="{{&controller_url}}/summary" method="POST">
        <p>
            <label>Item 1</label><br />
            <input name='order[sides][]' size="70" />
        </p>
        <p>
            <label>Item 2</label><br />
            <input name='order[sides][]' size="70"/>
        </p>
        <p>
            <input type="submit" value="Place Order" />
        </p>
    </form>

    {{> ../shared/_footer }}
</div>
