<div>
    {{> _branding }}

	<p><b>Thank you! Here is a summary of your order.</b></p>
	<h4>Pizza</h4>
    <table>
        <tr><th>Items</th><th>Description</th></tr>
        {{#items}}
        <tr><td>{{i}}</td><td>{{value}}</td></tr>
        {{/items}}
        <tr><td><b>Special Instructions</b></td><td>{{order.instructions}}</td></tr>
    </table>
	<h4>Side Items</h4>
    <table>
        <tr><th>Items</th><th>Description</th></tr>
        {{#sides}}
        <tr><td>{{i}}</td><td>{{value}}</td></tr>
        {{/sides}}
    </table>
	
	<p><b>Total Cost:</b> {{total}}</p>
    
    {{> ../shared/_footer }}
</div>